/*
 * Animal Rescue API
 *
 * AnimalRescue CQRS API
 *
 * OpenAPI spec version: 1.0.0
 * Contact: jlgartee@gmail.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.WebUtilities;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Primitives;
using Swashbuckle.AspNetCore.SwaggerGen;
using Newtonsoft.Json;
using IO.Swagger.Attributes;
using IO.Swagger.Models;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class PublicApiController : Controller
    { 
        /// <summary>
        /// retrieves a Intake by id
        /// </summary>
        /// <remarks>Deletes an existing Intake by id</remarks>
        /// <param name="id"></param>
        /// <response code="200">ok</response>
        /// <response code="400">bad request</response>
        /// <response code="401">unauthorized request</response>
        [HttpDelete]
        [Route("/jgartee/AnimalRescueCQRS/1.0.0/intake/{id}")]
        [ValidateModelState]
        [SwaggerOperation("DeleteIntakeById")]
        public virtual void DeleteIntakeById([FromRoute]Guid? id)
        { 
            throw new NotImplementedException();
        }

        /// <summary>
        /// retrieves an Intake by id
        /// </summary>
        /// <remarks>Gets an existing Intake by id</remarks>
        /// <param name="id"></param>
        /// <response code="200">ok</response>
        /// <response code="400">bad request</response>
        /// <response code="401">unauthorized request</response>
        [HttpGet]
        [Route("/jgartee/AnimalRescueCQRS/1.0.0/intake/{id}")]
        [ValidateModelState]
        [SwaggerOperation("GetIntakeById")]
        [SwaggerResponse(200, typeof(Intake), "ok")]
        [SwaggerResponse(400, typeof(Intake), "bad request")]
        [SwaggerResponse(401, typeof(Intake), "unauthorized request")]
        public virtual IActionResult GetIntakeById([FromRoute]Guid? id)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<Intake>(exampleJson)
            : default(Intake);
            return new ObjectResult(example);
        }

        /// <summary>
        /// updates an Intake by id
        /// </summary>
        /// <remarks>Updates an existing Intake by id with only elements that are changing</remarks>
        /// <param name="id">unique id of Intake to patch</param>
        /// <param name="patchIntake">partial json object of Intake with fields to patch</param>
        /// <response code="200">ok</response>
        [HttpPatch]
        [Route("/jgartee/AnimalRescueCQRS/1.0.0/intake/{id}")]
        [ValidateModelState]
        [SwaggerOperation("PatchIntakeById")]
        public virtual void PatchIntakeById([FromRoute]Guid? id, [FromBody]Intake patchIntake)
        { 
            throw new NotImplementedException();
        }

        /// <summary>
        /// replaces an Intake by id
        /// </summary>
        /// <remarks>Replaces an existing Intake by id</remarks>
        /// <param name="id"></param>
        /// <param name="updateIntake">unique id of Intake to update</param>
        /// <response code="200">ok</response>
        /// <response code="401">unauthorized request</response>
        [HttpPut]
        [Route("/jgartee/AnimalRescueCQRS/1.0.0/intake/{id}")]
        [ValidateModelState]
        [SwaggerOperation("UpdateIntakeById")]
        public virtual void UpdateIntakeById([FromRoute]Guid? id, [FromBody]Intake updateIntake)
        { 
            throw new NotImplementedException();
        }
    }
}
